# Ignore source code
./src

# Ignore node modules
./node_modules

# Ignore Git related files
.git
.gitignore

# Ignore environment files
.env

# Ignore log files
npm-debug.log
yarn-error.log

# Ignore IDE specific files
.vscode
.idea

# Ignore test and coverage reports
__tests__
coverage

# Ignore package lock files
package-lock.json
yarn.lock

tsconfig.json
tsconfig.tsbuildinfo
package-lock.json
.npmignore
./.github